.headerContainer{
  background-color: var(--white);
  height: 6.5rem;
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem 1.5rem 3rem;
  border-bottom: 1px solid var(--gray-100);

  p{
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--gray-100);
  }

  span{
    margin-left: auto;
    text-transform: capitalize;
  }

  button{ 
    margin-left: 20px;
    font-size: 0;
    border: unset;
    outline:unset;
    padding: 2px;
    background-color: transparent;
    img{
      width: 40px;
      height: 20px;
      cursor: pointer;
    }
  }
}

.headerContainerDark{
  background-color: var(--black);
  border-bottom: 1px solid transparent;

  p{
    border-bottom: 1px solid transparent;
    color:  var(--gray-100);
  }

  span{
    color: var(--gray-100);
  }
}

@media(max-width: 690px){
  .headerContainer{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    p,span{
      margin-left: 1rem;
      padding-left: 1rem;
      font-size: 1rem;
    }
  }
}

@media(max-width: 425px){
  .headerContainer{
    justify-content: center;
    p{
      display: none;
    }
  }
}

@media(max-width: 360px){
  .headerContainer{
    span{
      font-size: 0.9rem;
    }
  }
}