.playerContainer{
  padding: 3rem 3rem;
  width: 21rem;
  height: 100vh;
  background-color: var(--purple-500);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  header{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  strong{
    font-family: Lexend, sans-serif;
    font-weight: 600;
  }

  footer{
    align-items: stretch;
    .title{
      display: none;
    }
    &.empty .progress{
      opacity: 0.5;
    }
  }
}

.currentEpisode{
  text-align: center;

  img{
    border-radius: 1.5rem;
  }

  strong{
    display: block;
    margin-top: 2rem;
    font: 600 1.25rem Lexend, sans-serif;
    line-height: 1rem;
    font-size: 0.8rem;
  }

  span{
    display: block;
    margin-top: 1rem;
    opacity: 0.6;
    line-height: 1rem;
    font-size: 0.8rem;
  }
}

.emptyPlayer{
  height: 15rem;
  border: 1.5px dashed var(--purple-300);
  border-radius: 1.5rem;
  background: linear-gradient(143.8deg, rgba(145,100,258,0.8) 0%, rgba(0,0,0,0) 100%);
  padding: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  strong{
    font-size: 0.8rem;
  }
}

.progress{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;

  span{
    display: inline-block;
    width: 4rem;
    text-align: center;
  }

  .slider{
    flex: 1;
    
    .emptySlider  {
      width: 100%;
      height: 4px;
      background-color: var(--purple-300);
      border-radius: 2px;
    }
  }
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1.5rem;

  button{
    background-color: transparent;
    border: 0;
    font-size: 0;
    transition: filter 0.2s;
    &:disabled{
      cursor: not-allowed;
      opacity: 0.5;
    }
    &:hover:not(:disabled){
      filter: brightness(0.7)
    }
    &.isActive{
      filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg)
    }
    &.isActive:hover{
      filter: brightness(0.6) invert(0.35) sepia(1) saturate(3) hue-rotate(100deg)
    }
    &.playButton{
      width: 4rem;
      height: 4rem;
      border-radius: 1rem;
      background-color: var(--purple-400);
      &:hover:not(:disabled){
        filter: brightness(0.95)
      }
    }
  }
}

@media(max-width: 1024px){
  .emptyPlayer{
    width: 20%;
    height: 100%;
    padding: 2rem;
  }
  .playerContainer{
    width: 100vw;
    position: fixed;
    height: 28vh;
    flex-direction: row;
    justify-content: space-around;
    bottom: 0;
    padding: 10px 0;

    footer{
      width: 30%;
    }

    header{
      display: none;
    }
    .currentEpisode{
      padding: 0 1.5rem;
      img{
        width: 19vw;
        height: 6rem;
      }
      strong{
        margin-top: 0.5rem;
        font-size: 0.9rem;
      }
      span{
        margin-top: 0.5rem;
        font-size: 0.9rem;
      }
    }
  }
  
}

@media(max-width: 768px){
  .playerContainer{
    footer{
      align-items: center;
      width: 40%;
    }
    .buttons{
      margin-top: 1rem;
    }
    .currentEpisode{
      padding: 0 1.5rem;
      img{
        width: 16vw;
        height: 5rem;
      }
      strong{
        margin-top: 0.5rem;
        font-size: 0.8rem;
      }
      span{
        margin-top: 0.2rem;
        font-size: 0.8rem;
      }
    }
  }
}

@media(max-width: 425px){
  .emptyPlayer ,.currentEpisode{
    display: none;
  }
  .playerContainer{
    footer{
      padding: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;
      .title{
        text-align: center;
        display: inline;
        font-size: 0.8rem;
        margin-bottom: 10px;
      }
    }
    .buttons{
      margin-top: 0.5rem;
    }
    .progress{
      margin-top: 0.5rem;
      width: 100%;
    }
  }
}
